<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectsample"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity android:name=".silla" />
        <activity android:name=".gang_jum_gi" />
        <activity android:name=".gwang_bok" />
        <activity android:name=".koreanempire" />
        <activity android:name=".gojoseon" />
        <activity android:name=".threecountry" />
        <activity android:name=".balhae" />
        <activity android:name=".goryeo" />
        <activity android:name="joseon" />
        <activity
            android:name=".activity_oxquiz1"
            android:exported="true" />
        <activity
            android:name=".activity_shortanswer"
            android:exported="true" />
        <activity
            android:name=".multiplechoice"
            android:exported="true" />

        <activity
            android:name=".QuizMain"
            android:exported="true" />

        <!-- Stage1Activity 선언 -->
        <activity
            android:name=".Stage1Activity"
            android:exported="true" />

        <!-- Stage2Activity 선언 -->
        <activity
            android:name=".Stage2Activity"
            android:exported="true" />

        <!-- Stage3Activity 선언  -->
        <activity
            android:name=".Stage3Activity"
            android:exported="true" />
    </application>

</manifest>